[Unit]
Description=Run NDSP Portal Real Data Ledger Sync every minute

[Timer]
OnBootSec=20
OnCalendar=*:0/1
Persistent=true
Unit=ndsp-portal-real-data-ledger.service

[Install]
WantedBy=timers.target
