[Unit]
Description=Empire Core Signal Engine
After=network.target

[Service]
User=nawaf511
WorkingDirectory=/opt/empire-core/backend
ExecStart=/opt/empire-core/backend/venv/bin/python /opt/empire-core/backend/app/signal_engine.py
Restart=always

[Install]
WantedBy=multi-user.target
