[Unit]
Description=Recommendation Engine
After=network.target

[Service]
Type=simple
User=nawaf511
WorkingDirectory=/opt/recommendation_engine
ExecStart=/usr/bin/python3 /opt/recommendation_engine/run_recommendation_engine.py
Restart=always
RestartSec=60
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
