[Unit]
Description=Empire Lab Dashboard
After=network.target

[Service]
Type=simple
User=nawaf511
WorkingDirectory=/home/nawaf511/empire_lab/dashboard
ExecStart=/usr/bin/yarn start
Restart=on-failure
Environment=PATH=/home/nawaf511/.npm-global/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
