[Unit]
Description=NDSP Live Data Refresh
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/ndsp-refresh-live-data
ExecStart=/usr/bin/flock -n /tmp/ndsp-refresh-live-data.lock /usr/local/bin/ndsp-refresh-live-data
