[Unit]
Description=NDIP Signal Dispatcher
After=network.target

[Service]
User=root
WorkingDirectory=/opt/empire-core/backend
ExecStart=/opt/empire-core/backend/venv/bin/python3 /opt/empire-core/backend/engine/signal_dispatcher.py
Restart=always

[Install]
WantedBy=multi-user.target
