[Unit]
Description=NDSP User Alert Channels API
After=network-online.target postgresql.service

[Service]
Type=simple
User=nawaf511
WorkingDirectory=/home/nawaf511/empire-core-new/backend/ndsp-user-alert-channels
Environment=NODE_PATH=/home/nawaf511/empire-core-new/backend/ndsp-access-guard/node_modules
ExecStart=/usr/bin/node /home/nawaf511/empire-core-new/backend/ndsp-user-alert-channels/server.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
